button {
  margin: 0px 5px;
}
li {
  margin: 10px;
}
h1 {
  margin: 0;
  padding: 10px;
  background-color: rgb(181, 181, 181);
}
h3 {
  margin: 0;
  padding: 20px;
}
label{
  margin: 10px;
  font-size: 120%;
}
form {
  background-color: rgb(206, 206, 206);
  padding: 10px;
}
body {
  margin: 0;
  background-color: rgb(216, 216, 216);
}
